<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>WriterToys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap from bower -->
    <!-- remember to use .min. versions before releasing this! -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/main.css" rel="stylesheet">
  </head>
  <body>
<div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
            <li><a href="#stories">Stories</a> </li>
            <li><a href="#plots">Plots</a> </li>
            <li><a href="#characters">Characters</a> </li>
            <li><a href="#settings">Settings</a> </li>
            <li><a href="/signup">Sign Up</a> </li>
            <li><a href="/login">Log In</a> </li>
      </ul>
    </div>
   </div>
</div>

<div class="header alt vert">
  <div class="container">
    
    <h1>WriterToys</h1>
      <p class="lead">Idea Generation and Other Tools for Writers</p>
  </div>
</div>

<div class="featurette" id="characters">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Writing Tools and Toys</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-book"></i>
          <h4>Stories</h4>
          <p>Make a story with a plot, characters, settings, and more.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-blackboard"></i>
          <h4>Plots</h4>
          <p>Make a plot outline. Start with a template or make your own.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-user"></i>
          <h4>Characters</h4>
          <p>Names, backgrounds, quirks, emotional arcs.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-picture"></i>
          <h4>Settings</h4>
          <p>Master Time and Space! Control the weather!</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-edit"></i>
          <h4>Other Stuff</h4>
          <p>Writing prompts, and all sorts of other chaos on tap.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
      <!-- figure out something to say -->
      </div>
    </div>
  </div>
</footer>

	<script src="js/scripts.js"></script>
  </body>
</html>
