<html>
  <head>
    {% if title %}
    <title>{{ title }} - writertoys</title>
    {% else %}
    <title>writertoys</title>
    {% endif %}
  </head>
  <body>
    <div>WriterToys:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated() %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <h2>Sign In With Facebook or Twitter</h2>
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
